<li class="list-group-item" data-id=0>
  <!-- template of index's todo li element -->
  <div class="row">
    <div class="col-auto mr-auto">
      <button class="btn btn-info done-button" type="button">Done</button>
      <input class="ml-2 todo-edit" type="text" value="Name">
      <h4 class="ml-1 todo-name">Name</h4>
    </div>
    <div class="col-auto btn-group" role="group">
      <button class="btn btn-secondary detail-button" type="button">detail </button>
      <button class="btn btn-success edit-button" type="button">edit</button>
      <button class="btn btn-danger delete-button" type="button">delete </button>
    </div>
  </div>
</li>