<!-- template of index's todo li element -->

<li class="list-group-item">
  <div class="row">
    <div class="col-auto mr-auto"><input style="vertical-align: middle;" type="checkbox" name="done">
      <h4 style="display: inline;vertical-align: middle;" class="ml-1 todo-name">Name</h4>
    </div>
    <div class="col-auto btn-group" role="group"> <button class="btn btn-secondary detail-button" type="button">detail
      </button><button class="btn btn-success edit-button" type="button">edit</button><button
        class="btn btn-danger delete-button" type="button">delete </button></div>
  </div>
</li>